* {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.text-head {
  font-family: "Abril Fatface", serif;
  font-style: normal;
}
.text-hey {
  font-family: "Crafty Girls", cursive;
  font-weight: 500;
  font-style: normal;
}